<div id="headerDiv" class="text-center">
<h1>Menu!!</h1>
</div>

<div id="menuDiv" class="container">
    <div id="menu">
  {{#each data}}
  <div class="menuItem row" >
    <div class="col-4 name">
    {{name}} 
    </div>
    <div class="col-4 price">
    {{price}}
    </div>
    <div class="col-4">
    <button class="addtoCartBtn btn" id="placeorderBtn"><span class="fa fa-shopping-cart"></span> 
    </button>
    </div>
  </div>
  {{/each}}
    </div >
</div>

  <div class="container" >
    <div class="row">
  <p>Your order Summary</p>
  </div>
  <div class="col-3" id="cart">
    <img  id="bagImg" src="styles/images.png"></img>
        <p>Your cart is empty!! Add your favorites</p>

  </div>
</div>
<div class="container" id="cartwithOrder">
    <div class="row">

  </div>
      <div class="payment">
        <form>
            <div class="form-group owner">
                <label for="owner">Owner</label>
                <input type="text" class="form-control" id="owner">
            </div>
            <div class="form-group CVV">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv">
            </div>
            <div class="form-group" id="card-number-field">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" id="cardNumber">
            </div>
            <div class="form-group" id="expiration-date">
                <label>Expiration Date</label>
                <select>
                    <option value="01">January</option>
                    <option value="02">February </option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select>
                    <option value="16"> 2016</option>
                    <option value="17"> 2017</option>
                    <option value="18"> 2018</option>
                    <option value="19"> 2019</option>
                    <option value="20"> 2020</option>
                    <option value="21"> 2021</option>
                </select>
            </div>
            {{!-- <div class="form-group" id="credit_cards">
                <img src="assets/images/visa.jpg" id="visa">
                <img src="assets/images/mastercard.jpg" id="mastercard">
                <img src="assets/images/amex.jpg" id="amex">
            </div> --}}
            <div class="form-group" >
                <button type="submit" class="btn btn-primary" id="confirmPurchase">Confirm</button>
            </div>
        </form>
    </div>

</div>





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/carryout.js"></script>