<div class="jumbotron jumbotron-fluid">
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="/styles/fire.mp4" type="video/mp4">
    </video>
    <div class="container text-white">
        <h1 class="display-3">P.A.Ts Bar & Grill</h1>
    </div>
</div>
<div class="container" id="belowHeader">
<div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6 ">

            <div class="mySlides ">
                <div class="numbertext">1 / 10</div>
                <img src="http://aubreysrestaurants.com/corporate/wp-content/uploads/2014/11/sandwich-660x420.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">2 / 10</div>
                <img src="https://img.grouponcdn.com/iam/3JxXejCWbDHW8kQ3dAeNbA51VSvE/3J-2048x1229/v1/c700x420.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">3 / 10</div>
                <img src="https://images.surfacemag.com/app/uploads/2017/04/header-BA_0049903-2000x1333.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">4 / 10</div>
                <img src="https://i.pinimg.com/originals/c7/64/d2/c764d25a2a46bb61994abaed82e187b3.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">5 / 10</div>
                <img src="http://www.cameronbarandgrill.com/wp-content/uploads/2014/01/sandwich.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">6 / 10</div>
                <img src="http://www.cameronbarandgrill.com/wp-content/uploads/2014/01/sandwich.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">7 / 10</div>
                <img src="https://cdn2.justwineapp.com/assets/article/2019/06/burger-and-beer-places-calgary-yyc-justbeer.jpg"
                    style="width:80%;height:250px;">
            </div>

            <div class="mySlides ">
                <div class="numbertext">8 / 10</div>
                <img src="http://shop.venicetoyota.com/wp-content/uploads/sites/25/2019/03/red-wine-romantic-dinner-e1552598180665.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">9/ 10</div>
                <img src="https://cdn.websites.hibu.com/533c448531fc412eb9cff9ae03178687/dms3rep/multi/mobile/small-1.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="mySlides ">
                <div class="numbertext">10/ 10</div>
                <img src="http://www.howsweeteats.com/wp-content/uploads/2014/06/chickpea-salad-I-howsweeteats.com-5.jpg"
                    style="width:80%;height:250px;">
            </div>
            <div class="caption-container">
                <p id="caption"></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body buttonDiv">
                <div class="button btn">
                    <a style="text-decoration:none;" href="/dinein">Dine-In</p></a>
                        {{!-- <button>Dine-In</button> --}}
                </div>
                <div class="button btn">
                    <a style="text-decoration:none;" href="/carryout">Carry Out</p>
                        {{!-- <button>Carry Out</button> --}}
                         </a> 
                </div>
            </div>
        </div>
    
    <div class="col-sm-1">
    </div>
</div>

{{!-- <br>
<br>
<br>
 --}}
<!-- Header -->
{{!-- <header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Crew</h1>
  </div>
</header> --}}

</div>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-sm-4">
      <div class="card border-0 shadow">
        <div class="shadow-none p-3 mb-5 bg-light rounded">

          <img src="styles/images.png" class="card-img-top" alt="Abhi">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Customer Service Manager</div>

          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-sm-4">
      <div class="card border-0 shadow">
        <div class="shadow p-3 mb-5 bg-white rounded">

          <img src="styles/images.png" class="card-img-top" alt="Pat">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Operations Manager</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-sm-4">
      <div class="card border-0 shadow">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <img src="styles/images.png" class="card-img-top" alt="Tim">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Owner</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->







    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Tim Garner</h3>
                <h3>About Me</h3>
                <img id="TimImg" src="styles/student.jpg"></img>
                <p>Customer Service Manager of P.A.T'S Bar & Grill. He is commited to 100% customer satisification. </p>

            </div>
            <div class="col-sm-4">
                <h3>Abhinayaa</h3>
                <p>Welcome to our page. I am happy to be a part of this most loved restaurant's team.I am the manager here and I would be your SPOC. More about me,I love to read, paint, cook, travel to new places.I am  keen towards learning about new people, places, culture, food, traditions. That is where love for different cuisines emerged. I am passionate and enthusiastic about learning new things.  </p>
            </div>
            <div class="col-sm-4">
                <h3>About ME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo pretium nibh, et luctus libero
                    dapibus sed. Nam nec neque ac tellus dictum hendrerit. Praesent lobortis et risus sed sollicitudin.
                    Nulla facilisi. Donec et odio et arcu suscipit imperdiet. Maecenas imperdiet magna et sapien
                    faucibus facilisis. Donec id tortor diam. Nullam porttitor venenatis ex sit amet faucibus. Nullam
                    sagittis nisl lorem.</p>
            </div>
        </div>
    </div>
    {{!-- <br>
<br>
<br> --}}


    <div class="container" id="mapContainer">
        <div class="row">
            <div class="col-sm-6">
                <div id="mapid">

                </div>
            </div>
            <div class="col-sm-6">

                <div id="addrContainer">
                    <p>10962 Chapel Hill Rd,</p>
                    <p>Morrisville,</p>
                    <p>NC 27560</p>
                </div>
            </div>

        </div>
    </div>

</div>



<div class="container">
    <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Check out our Links and Hours</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <p>
                    <p class="text-center"> Open Monday-Friday 12:00 PM to 2:00 AM</p>
                    <p class="text-center" style="font-weight:bolder"><span class="fa fa-phone "> 919-012-3456</span>
                    </p>
                    <p class="text-center" style="font-weight:bolder"><span class="fa fa-envelope "> <a
                                href="mailto:patsbarngrill@gmail.com"
                                style="text-decoration: none;color:black">patsbarngrill@gmail.com</a></span>
                    </p>

            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <script src="/js/index.js"></script>
    <script src="/js/map.js"></script>
