<div id="home">
  <div class="container">
    <div class="jumbotron">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome to P.A.T.'s Bar & Grill!</h2>
        {{!-- <form class="clearfix mb-4" action="POST"> --}}
          <div class="form-group" id="left">
            <a href="/dinein"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> Dine-In</button></a>
            <a href="/carryout"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span>Carry Out</button></a>
          </div>
        {{!-- </form> --}}
        </ul>
      </div>
    </div>
  </div>
</div>

   <footer class="footer">
      <div class="container">
        <p><a href="/api/Dine-In">Dine-In Link</a> | <a href="/api/CarryOut">Carry Out Link</a>
      </div>
    </footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
