.list-group-item {
  line-height: 2.5;
}

#cart,#cartwithOrder{
  width:40%;
  float:right;
  text-align:center;
}
.payment{
  margin-top:10px;
  width:100%;
  float:right; 
}
#menu{
width:60%;
float:left;
overflow:auto;
}
#bagImg{
  width:200px;
  opacity:80%;
}
.btn-info{
padding:0.5em;
border-bottom:5px;
}
.row{
  line-height: 3em;
  text-align: center;
}
.card{
  display:inline-block;
  border:5 px;
  border:1 px solid;
  margin:20px;
  padding:0;

}
/* .addtoCartBtn{
  float:right;
} */
.card-title{
  text-align:center;
}
.quantity{
  float:none;
}
.btnDiv{
  text-align:center;
}
#header{
align-content:center;
  font-size:2em;
}
#closeBtn,#editBtn,#endokBtn{
  border-radius: 50%;
  box-shadow: 0 0 5px gray;

}
.modal-header{
  border-bottom:0;
}
.modal-footer{
 border-top:0;

}
.blink_me {
  animation: blinker 1s linear;
  background-color: red;
  color:white;
  animation-duration: 4s;

}

/* @keyframes blinker {
  50% {
    opacity: 0;
    from {background-color: red;}
    to {background-color: yellow;}
  
  }
} */
tr{
  border:40px;
}
.edit{
  border-radius:50%;
  padding:3px;
  margin:5px;
}
.form-group{
  width:100%;
}
/* .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
/* .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */ */
