.list-group-item {
  line-height: 2.5;
}

#cart,#cartwithOrder{
  width:30%;
  float:right;
}
.payment{
  width:100%;
  float:right; 
}
#menu{
width:70%;
float:left;
}
#bagImg{
  width:200px;
}
.btn-info{
padding:0.5em;
border-bottom:5px;
}
.row{
  line-height: 3em;
}
.card{
  display:inline-block;
  border:5 px;
  border:1 px solid;
  margin:20px;
  padding:0;

}
/* .addtoCartBtn{
  float:right;
} */
.card-title{
  text-align:center;
}
#quantity{
  float:none;
}
.btnDiv{
  text-align:center;
}